# Default nim's gitignore

nimcache/
nimblecache/
htmldocs/

# PyCharm

.idea/

# JAPL

src/japl
src/compiler
tests/runtests

# MacOS

.DS_Store

# Executables

main
*.exe

# Dependency graphs

*.deps
*.dot

# JAPL build config file

config.nim

# test results

testresults.txt
