# Default nim's gitignore

nimcache/
nimblecache/
htmldocs/

# PyCharm

.idea/

# JAPL 

src/japl
src/compiler
tests/runtests
tests/maketest
src/lexer
src/vm
tests/runtests
testresults.txt
.testoutput.txt
.tempcode.jpl
.tempcode_drEHdZuwNYLqsQaMDMqeNRtmqoqXBXfnCfeqEcmcUYJToBVQkF.jpl
.tempoutput.txt
config.nim

# MacOS

.DS_Store

# Executables


*.exe

# Dependency graphs

*.deps
*.dot

# Development scripts

setenv.sh
